<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmação</title>
</head>
<body>
    <h1>{{mensagem}}</h1>
    <p>Escolha uma opção:</p>
    <button onclick="window.location.href='/home'">Ir para Home</button>
    <button onclick="window.location.href='/login'">Ir para Login</button>
</body>
</html>
