<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <div class="article-content">
        <h1>Entre em Contato Conosco</h1>
        <p>Estamos aqui para ajudar! Se você tiver alguma dúvida ou precisar de assistência, entre em contato com nossa equipe através das informações abaixo.</p>

        <h2>Informações de Contato</h2>
        <ul class="contact-info">
            <li><strong>Email:</strong> <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new">arqubackuper@gmail.com</a></li>
            <li><strong>Telefone:</strong> (93) 99104-6566</li>
            <li><strong>Endereço:</strong> Rua dos Administradores, 123 - Itaituba, PA</li>
            <li><strong>Horário de Atendimento:</strong> Segunda a Sexta, das 9h às 18h</li>
        </ul>

       
        <h2>Siga-nos nas Redes Sociais</h2>
        <ul class="social-links">
            <li><a href="https://www.facebook.com">Facebook</a></li>
            <li><a href="https://www.instagram.com">Instagram</a></li>
            <li><a href="https://www.linkedin.com">LinkedIn</a></li>
        </ul>
    </div>
</body>
</html>

