<nav class="subguias-nav">
    <ul>
        <li><a href="#">Fazer Denúncia</a></li>
        <li>
            <label for="filtro">Filtrar:</label>
            <select id="filtro" name="filtro">
                <option value="" disabled selected>Selecione uma opção</option>
                <option value="veiculo">Veículo</option>
                <option value="eletronico">Eletrônico</option>
                <option value="outros">Outros</option>
            </select>
        </li>
    </ul>
</nav>

