   <div class="article-content">
        <h1>Links Úteis para Segurança e Serviços</h1>
        <p>Esta página contém links importantes para acessar serviços de segurança e trânsito no Pará.</p>

        <h2>Polícia Civil</h2>
        <ul>
            <li><a href="https://www.pc.pa.gov.br/" target="_blank">Site da Polícia Civil do Pará</a></li>
            <li><a href="https://www.pc.pa.gov.br/iara/iara-click.html" target="_blank">Fazer Denúncia</a></li>
            <li><a href="https://www.delegaciavirtual.pa.gov.br/#/" target="_blank">Registrar Ocorrência</a></li>
        </ul>

        <h2>Polícia Militar</h2>
        <ul>
            <li><a href="https://www.pm.pa.gov.br/" target="_blank">Site da Polícia Militar do Pará</a></li>
        </ul>

        <h2>Detran</h2>
        <ul>
            <li><a href="https://www.detran.pa.gov.br/index_.php#" target="_blank">Site do Detran do Pará</a></li>
            <li><a href="https://sistemas-renavam.detran.pa.gov.br/sistransito/detran-web/servicos/veiculos/indexRenavam.jsf" target="_blank">Consulta Detalhada de Veículo</a></li>
        </ul>
    </div>