<header>
    <h1>Artigos</h1>
</header>
<div>
    <ul>
       <h3>Furto e Roubo</h3>
        <li><a href="/furtoroubo">Diferenças entre rurto e roubo</a></li>
    </ul>
    <br>
    <ul>
        <h3>Direitos e Deveres</h3>
        <li><a href="/direitos">Direitos e deveres do cidadão</a></li>
    </ul>
</div>

