    <header>
        <h1>Atigos</h1>
    </header>
    
    <article class="article-content">
        <h1>Furto e Roubo: Entenda a Diferença e Como Proteger-se</h1>
        <section>
            
            <h2>O que é Furto?</h2>
            <p>O furto é um crime que consiste na subtração de um bem alheio, com o objetivo de obter vantagem para si ou para outrem, sem o consentimento do proprietário. É importante notar que o furto não envolve a violência ou a ameaça ao proprietário do bem. Exemplos comuns de furto incluem o roubo de itens em residências, lojas e veículos.</p>
        </section>
        
        <section>
            <h2>O que é Roubo?</h2>
            <p>O roubo, por outro lado, é um crime mais grave, que envolve a subtração de um bem alheio mediante violência ou grave ameaça. No caso do roubo, o autor utiliza força física ou intimida a vítima para levar o que não lhe pertence. Esse tipo de crime pode resultar em consequências severas tanto para a vítima quanto para o autor.</p>
        </section>
        
        <section>
            <h2>Diferenças Entre Furto e Roubo</h2>
            <p>A principal diferença entre furto e roubo é a presença de violência ou ameaça. Enquanto o furto ocorre sem a presença da vítima ou sem causar-lhe medo, o roubo sempre envolve um tipo de coerção. Por esse motivo, o roubo é tipicamente punido com penas mais severas.</p>
        </section>
        
        <section>
            <h2>Como Proteger-se Contra Furto e Roubo</h2>
            <p>Existem várias maneiras de proteger seus bens e reduzir o risco de se tornar uma vítima de furto ou roubo:</p>
            <ul>
                <li>Instale sistemas de segurança em sua casa e veículo, como câmeras e alarmes.</li>
                <li>Evite deixar objetos de valor à vista em seu carro ou residência.</li>
                <li>Participe de grupos de segurança comunitária para manter-se informado sobre atividades suspeitas em sua área.</li>
                <li>Mantenha portas e janelas trancadas e use fechaduras de segurança.</li>
                <li>Se você for vítima de furto ou roubo, denuncie imediatamente às autoridades.</li>
            </ul>
        </section>
        
        <section>
            <h2>Conclusão</h2>
            <p>Entender a diferença entre furto e roubo é fundamental para que possamos nos proteger e agir de maneira adequada em situações de risco. Ao tomar precauções e estar ciente do ambiente ao seu redor, podemos reduzir a probabilidade de sermos vítimas desses crimes.</p>
        </section>
    </article>
    
    <footer>
        <p>&copy; 2024 Todos os direitos reservados. Artigo elaborado para fins informativos.</p>
    </footer>
