<div class="login-container">
    <h2>Postagem de Objeto</h2>
    <form action="/postar" method="POST" enctype="multipart/form-data">

    
        <div class="form-group image-container" id="image-fields">
            <label for="image1">Imagem 1:</label>
            <input type="file" id="image1" name="images" accept="image/*" onchange="previewImages(event, 1)" required>
            <div class="image-preview" id="image-preview1"></div>
        </div>

        <div class="form-group image-buttons">
            <button type="button" class="adicionar-imagens" onclick="addImageField()">Adicionar campo</button>
            <button type="button" class="excluir-imagens" onclick="removeImageField()">Excluir campo</button>
        </div>

        <div class="form-group">
            <label for="reward">Valor da Recompensa:</label>
            <input type="text" id="reward" name="reward" required oninput="formatCurrency(this)">
        </div>

        <div class="form-group">
            <label for="crimeType">Tipo de Crime:</label>
            <select id="crimeType" name="crimeType" required>
                <option value="" disabled selected>Selecione</option>
                <option value="Roubo">Roubo</option>
                <option value="Furto">Furto</option>
            </select>
        </div>
        <div class="form-group">
            <select id="color" name="color" required>
                <option value="" disabled selected>Selecione uma cor</option>
                <option value="Vermelho">Vermelho</option>
                <option value="Amarelo">Amarelo</option>
                <option value="Azul">Azul</option>
                <option value="Laranja">Laranja</option>
                <option value="Verde">Verde</option>
                <option value="Roxo">Roxo</option>
                <option value="Preto">Preto</option>
                <option value="Branco">Branco</option>
                <option value="Cinza">Cinza</option>
                <option value="Marrom">Marrom</option>
                <option value="Índigo">Índigo</option>
            </select>
        </div>
        <div class="form-group">
            <label for="crimeDetails">Detalhes do Crime:</label>
            <textarea id="crimeDetails" name="crimeDetails" required></textarea>
        </div>
        <div class="form-group">
            <label for="additionalInfo">Informações Adicionais:</label>
            <textarea id="additionalInfo" name="additionalInfo"></textarea>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="" disabled selected>Selecione</option>
                <option value="Roubado">Roubado</option>
                <option value="Furtado">Furtado</option>
                <option value="Recuperado">Recuperado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">Categoria:</label>
            <select id="category" name="category" required onchange="showAdditionalFields()">
                <option value="" disabled selected>Selecione</option>
                <option value="eletronico">Eletrônico</option>
                <option value="veiculo">Veículo</option>
                <option value="outro">Outro</option>
            </select>
        </div>

        <!-- Campos adicionais para eletrônico -->
        <div id="eletronicoFields" style="display: none;">
            <div class="form-group">
                <label for="identifier">Código Identificador:</label>
                <input type="text" id="identifier" name="identifier">
            </div>
            <div class="form-group">
                <label for="brandtelefono">Marca:</label>
                <input type="text" id="brandtelefono" name="brandtelefono">
            </div>
            <div class="form-group">
                <label for="modeltelefono">Modelo:</label>
                <input type="text" id="modeltelefono" name="modeltelefono">
            </div>
              <div class="form-group">
                <label for="objectType">Tipo:</label>
                <select id="objectType" name="objectType">
                    <option value="" disabled selected>Selecione</option>
                    <option value="celular">Celular</option>
                    <option value="tv">Tv</option>
                    <option value="relogio">Relógio</option>
                    <option value="outro">Outro</option>
                </select>
            </div>
        </div>

        <!-- Campos adicionais para veículo -->
        <div id="veiculoFields" style="display: none;">
            <div class="form-group">
                <label for="modelvehicle">Modelo:</label>
                <input type="text" id="modelvehicle" name="modelvehicle">
            </div>
            <div class="form-group">
                <label for="brandVehicle">Marca:</label>
                <input type="text" id="brandVehicle" name="brandVehicle">
            </div>
            <div class="form-group">
                <label for="plate">Placa:</label>
                <input type="text" id="plate" name="plate">
            </div>
            <div class="form-group">
                <label for="chassis">Chassi:</label>
                <input type="text" id="chassis" name="chassis">
            </div>
            <div class="form-group">
                <label for="vehicleType">Tipo:</label>
                <select id="vehicleType" name="vehicleType">
                    <option value="" disabled selected>Selecione</option>
                    <option value="carro">Carro</option>
                    <option value="moto">Moto</option>
                    <option value="caminhao">Caminhão</option>
                    <option value="outros">Outro</option>
                </select>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit">Postar</button>
            <button type="button" class="cancel-button" onclick="history.back()">Cancelar</button>
        </div>
    </form>
</div>
<script>
    function showAdditionalFields() {
        const category = document.getElementById('category').value;
        const eletronicoFields = document.getElementById('eletronicoFields');
        const veiculoFields = document.getElementById('veiculoFields');

        // Oculta todos os campos adicionais
        eletronicoFields.style.display = 'none';
        veiculoFields.style.display = 'none';

        // Exibe campos com base na categoria selecionada
        if (category === 'eletronico') {
            eletronicoFields.style.display = 'block';
        } else if (category === 'veiculo') {
            veiculoFields.style.display = 'block';
        }
    }

    
</script>
